<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/comments">Comments</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>